#hero{
    width: 100%;
    height: calc(100vh - 4rem);
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.hero-img{
    position: absolute;
    top: -4rem;
    right: 0;
    z-index: -1;
    object-fit: fill;
    height: 100%;
    padding-top: 45px;
    
}
.hero-content{
    height: 100%;
    width: 100%;
    padding: 10px 8%;
    font-size: 2.8rem;
    font-weight: 700;
    display: flex;    
    flex-direction: column;
    justify-content: center;
}
.hello{
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 5px;
}
.hero-name{
    color: green;
}
.hero-text{
    font-size: 12px;
    font-weight: lighter;
    line-height: 20px;
    margin-top: 10px;
    letter-spacing: 0.5px;
}
.hero-btn{
    display: inline-block;
    margin-top: 30px;
    width: fit-content;
    border: 1px solid green;
    padding: 14px 40px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
    background: green;
    cursor: pointer;
    font-size: 14px;
}
.hero-btn a{
    text-decoration: none;
    color: white;
}
@media screen and (max-width:600px) {
    .hero-img{  
        right: -50vw;
        padding: 40px 10% 0 10%;
    }
    .hello{
        font-size: 5.5vw;
        margin-bottom: 10px;
    }
    .hero-header{
        font-size: 10vw;
        margin-bottom: 10px;
    }
    .hero-text{
        font-size: 16px;
        line-height: 28px;
    }
    .hero-content{
        margin-top: 80px;
    }
    .hero-btn{
        font-size: 18px;
    }
}